.dockerignore
Dockerfile.bak
docker-compose.yml.bak
*.env
.env
volumes/
docker-compose.override.yml

openvpn_data/

tor_data/
tor_hidden_service_data/

*.log
tor_startup.log
openvpn_server.log
openvpn-status.log

*.crt
*.key
*.csr
*.pem
*.ovpn
*.req
*.p12
*.pki/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.bak
*~
*.tmp
*.temp
*.log
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace
.history/

__pycache__/
*.pyc

node_modules/

*.zip
*.tar.gz
*.rar
*.7z
